{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}
{% block mainClass %}calendrier{% endblock %}
{% block mainModal %}{{ stimulus_controller('event-modal-management')|stimulus_target('event-modal-management', 'main') |stimulus_action('event-modal-management','handleModalEvent','calendar-tile:openModal')}}{% endblock %}


{% block body %}


    {# <div class="calendar-container" {{stimulus_controller('calendar')}}
    style="
    width: 2000px !important;
    height: 1000px;
    background-color: tan;
"
    >

        <div id="fullcalendar" {{stimulus_target('calendar','fullcalendar')}} style="
    width: 2000px !important;
    height: 1000px;
    background-color: tan;
">
        </div> #}
            
    {# </div> #}



    <h1>Calendrier</h1>

    <twig:Calendar:CalendarComponent />
    
{% endblock %}
