@use '../../shared/abstract/' as * ;


.calendrier{


    position:relative;
    background : 

        linear-gradient( hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)), 
        url('../images/backgrounds/backgroundHomeTileEvenement.jpg') 
        center/cover
        no-repeat 
        // fixed 
        ;
    
        // background-color: #000000; 





    h1{
        font-size: clamp(1.5rem, -0.2143rem + 3.5714vw, 3rem);
        text-align: center;
        margin-bottom: 2rem;
        
    }





    .modalContainer{

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% );

        background-color: $glassoB-25;
        backdrop-filter: blur(6px);

        z-index: 4;
        
        @extend %flex-center
    }
}


