@use '../../shared/abstract/' as * ;
@use '../../shared/typographie/' as *;

.calendar{

    &__container{
        width: 90vw;
        height: 800px;
        margin-inline: auto;
        display: grid;
        grid-template-areas: 
            'header header header header header header header header header header header header header header'
            'header header header header header header header header header header header header header header'
            'day day day day day day day day day day day day day day'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            'grid grid grid grid grid grid grid grid grid grid grid grid grid grid'
            
        ;
    }

    &__header{
        grid-area: header;
        background-color: blue;

        @extend %flex-column-around-center
    }
    &__dayHeader{
        grid-area: day;
        background-color: blueviolet;
        
        display: grid;
        grid-template-columns: repeat(7,1fr);
        place-items: center;
    }

    &__grid{
        grid-area: grid;
        background-color: darkgreen;

        display: grid;
        grid-template-columns: repeat(7,1fr);
        // place-items: center;
        grid-template-rows: repeat(5, 1fr);  /* Ensures that each row is of equal height */
        // place-items: stretch;  /* Ensures that each cell stretches to fill the entire grid area */

        .gridcell{
            height: 100%;
            width: calc(90vw / 7);

            display: flex;
            align-items: center;
            justify-content: center;

            overflow: hidden;
            
            &:nth-child(odd){
                background-color: rgb(25, 26, 56);
            }
            
            &:nth-child(even){
                background-color: rgb(55, 46, 35);
            }
        }
    }

    &_year{}

    &_day{}
}