{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('evenement/event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_evenement_event_index') }}">back to list</a>

    {{ include('evenement/event/_delete_form.html.twig') }}
{% endblock %}
