
    <div {{ attributes }}>
        <input type="number" data-model="debounce(100)|max">

        <button
            data-action="live#$render"
        >   
            Generate a new number!
        </button>

        <strong>{{ this.RandomNumber }}</strong>
    </div>

